html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: monospace;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: aquamarine;
}
header p {
  width: 100px;
  text-align: center;
}

header nav ul {
  list-style: none;
}

.aside-one ul li {
  list-style: none;
}

.aside-two {
  margin-bottom: 50px;
}

.aside-two ul li {
  list-style: none;
}

h1,
h2,
h3 {
  text-align: center;
}

footer {
    text-align: center;
  }

@media screen and (max-width: 600px) {
  body {
    background-color: azure;
  }
  header nav {
    display: none;
  }
  header {
    justify-content: center;
  }

  p {
    font-size: large;
    margin: 0 20px;
  }

  h1,
  h2,
  h3 {
    font-size: x-large;
  }
}

@media screen and (min-width:601px){
    .main-content {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }

    .main-content p {
        font-size: large;
        text-align: justify;
        margin: 0 15px;
    }
    
    .main-content h1 {
        width: 100%;
    }
    
    .main-content div {
        width: 45%;
    }
    
    footer {
        font-size: larger;
    }
}

@media screen and (min-width: 1001px) {
   
    .main-content {
        justify-content: space-around;
    }

    .main-content h1 {
        margin-bottom: 80px;
    }

    .main-content div {
        width: 40%;
    }
}