.super-mario{
    position: absolute;
    width: 250px;
    }
.goomba{
    position: absolute;
    width: 300px;
    top: 490px;
    }
.baloon{
    position: absolute;
    width: 300px;
    top: 400px;
    left: 360px;
    }
.bowser{
    position: absolute;
    width: 300px;
    top: 490px;
    left: 650px;
    }
.word{position: absolute;
    width: 300px;
    top: 470px;
    left: 400px;
    z-index: 2;
    }